.pag_container{
    margin: 8px;
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.pag_item{
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.pag_item:hover{
    background: #A8A2A22A;
    border-radius: 2px;
}